{% extends "shibang124/base.html" %}
{% load static %}
{% block title %}{{ product.title }}{% endblock title %}

{% block content %}
    <div class="banner banner_inner "><a href="#"><img src="{% static 'shibang124/images/banner_about.jpg' %}"
                                                       width="1920" height="490" alt=""/></a>
        <div class="width1170 text">
            <h2>关于我们</h2>
            <p>
                缘起于1987年，世邦工业始终致力于矿山破碎设备、制砂设备和工业磨粉设备，为高速公路、铁路、水电等大型工程项目提供高等级砂石料解决方案和成套设备，努力践行本土精工制造、全球科学布局的战略，以亚洲为腹地、辐射全球中客户。经过30多年的发展，世邦工业产品陆续获得欧盟CE认证、ISO9001:2015国际质量认证等多项认证。接下来，追求卓越的我们将持续用优质的产品、专业的技术、至诚的服务，帮助客户创造更大价值，用实际行动不断推动人类文明的生态建设。</p>
        </div>
    </div>
    <div class=" width1170 col_about_top ">
        <ul>
            <li><span><big>30</big>年 </span>发展历程</li>
            <li><span><big>40</big>亿</span> 年产值</li>
            <li><span><big>120</big>万平</span> 生产基地</li>
            <li><span><big>160</big>个</span> 客户地区</li>
        </ul>
    </div>
    <div class=" bg    col_about_list">
        <div class="  width1170   ">
            <ul>
                <li class="li01"><img src="{% static 'shibang124/images/factory1.jpg' %}" width="720" height="440"
                                      alt="" class="pull_left"/>
                    <div class="text pull_right">
                        <h3><big>137000平方米</big> 江苏启东生产基地</h3>
                        <h4>打造集专业化、信息化、智能化为一体的先进生产基地</h4>
                        <p>一号生产基地位于江苏省启东市，总建筑面积为137000平方米，主要生产制造环保装备、大型破碎制砂设备、精密微粉装备等具有高技术含量产品。</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="li02"><img src="{% static 'shibang124/images/factory2.jpg' %}" width="720" height="440"
                                      alt="" class="pull_right"/>
                    <div class="text  pull_left ">
                        <h3><big>67000平方米</big>上海金桥南区生产基地</h3>
                        <h4>硬实力是我们为客户提供优质产品的保证</h4>
                        <p>二号生产基地位于上海浦东新区华东路，建筑面积为67000平方米，集研发、生产、管理于一体的设备装配展示基地，除了各系列高精尖产品展示，也将向客户展示我们的精细化装配作业。</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="li03"><img src="{% static 'shibang124/images/factory3.jpg' %}" width="720" height="440"
                                      alt="" class=" pull_left"/>
                    <div class="text pull_right">
                        <h3><big>80000平方米</big>河南省郑州高新区生产基地</h3>
                        <h4>精英人才和先进生产技术的引进保障我们能够不断提升硬实力</h4>
                        <p>
                            三号生产基地位于河南省郑州市高新技术产业开发区，车间总面积近80000平方米。该车间拥有先进机械加工工艺标准，系列生产装备，生产能力、工艺水平及装备实力均备受行业客户及相关机构所认可。</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="li04"><img src="{% static 'shibang124/images/factory4.jpg' %}" width="720" height="440"
                                      alt="" class="pull_right"/>
                    <div class="text  pull_left">
                        <h3><big>60000平方米</big>河南省郑州上街区生产基地</h3>
                        <h4>先进的管理制度，有效确保生产、物流、质检工作的有序精确</h4>
                        <p>四号生产基地位于河南省郑州市的上街区，拥有60000平米的重型标准化厂房，是重要的大中型破磨设备生产基地之一。该车间主要进行破碎制砂设备、精制粉设备及相关配套装备的生产制造。</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="li05"><img src="{% static 'shibang124/images/factory5.jpg' %}" width="720" height="440"
                                      alt="" class="pull_left "/>
                    <div class="text pull_right">
                        <h3><big>280000平方米</big>上海市临港新城生产基地</h3>
                        <h4>每一条生产线都是严格按照相关标准建立的智能化体系</h4>
                        <p>
                            五号生产基地位于上海浦东新区较东南端的临港新城，是我集团于2015年初投建的又一生产基地，占地280000平方米，总投资15.7亿元，更能够代表矿机装备行业先进的研发实力、创新能力与创造能力，是自动化、数字化、低耗能的面向国际的生产基地及研发中心。</p>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="li06"><img src="{% static 'shibang124/images/factory6.jpg' %}" width="720" height="440"
                                      alt="" class="pull_right"/>
                    <div class="text  pull_left">
                        <h3><big>535000平方米</big>河南焦作矿机设备产业园生产基地</h3>
                        <p>
                            六号生产基地位于河南焦作修武矿机设备产业园，占地535000平方米。专注于研发制造智能矿山机械，预计建成后可为世界各国矿山、建筑、能源等重点基础设施建设工程，提供专业技术解决方案和成套绿色环保高效的矿物、石料加工设备。</p>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col_about_bottom width1170">
        <h2>我们为您提供的不只是服务，而是改变！</h2>
        <p>作为全球破碎磨粉行业的佼佼者，世邦工业始终坚持科技与品质同行，敢于创新、追求卓越。一直以来，世邦工业始终以强大的生产实力为发展基石。</p>
        <ul class="  showMoreNChildren" pagesize="12">
            <li><img src="{% static 'shibang124/images/hezuo/logo_1.gif' %}" width="254" height="81" alt="" /></li>
    <li><img src="{% static 'shibang124/images/hezuo/logo_2.gif' %}" width="254" height="81" alt="" /></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_3.gif' %}" width="254" height="81" alt="" /></li>
    <li><img src="
            {% static 'shibang124/images/hezuo/logo_4.gif' %}" width="254" height="81" alt="" /></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_5.gif' %}" width="254" height="81" alt="" /></li>
    <li><img src="
            {% static 'shibang124/images/hezuo/logo_6.gif' %}" width="254" height="81" alt="" /></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_7.gif' %}" width="254" height="81" alt="" /></li>
    <li><img src="{% static 'shibang124/images/hezuo/logo_8.jpg' %}" width="254" height="81" alt="" />
            </li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_9.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_10.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_11.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_12.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_13.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_14.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_15.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_16.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_17.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_18.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_19.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_20.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_21.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_22.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_23.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_24.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_25.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_26.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_27.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_28.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_29.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_30.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_31.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_32.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_33.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_34.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_35.jpg' %}" width="254" height="81" alt=""/></li>
            <li><img src="{% static 'shibang124/images/hezuo/logo_36.jpg' %}" width="254" height="81" alt=""/></li>
        </ul>
    </div>
{% endblock content %}

