{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone = no"/>
    <meta name="keywords" content=""/>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'shibang124/css/style.css' %}" type="text/css" rel="stylesheet"/>
</head>
<body>
{% include 'shibang124/header.html' %}
{% block content %}{% endblock content %}
{% include 'shibang124/footer.html' %}

<!--footer end-->
<script src="{% static 'shibang124/js/jquery-1.9.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'shibang124/js/swiper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'shibang124/js/min.js' %}" type="text/javascript"></script>
</body>
</html>
