{% load static %}
<div id="footer" class="  f_bg">
    <div class="width1170">
        <div class="f_col_4 f_col pull_right">
            <a href="#" class="f_online "><img src="{% static 'shibang124/images/chat.png' %}" width="21" height="20"
                                               alt=""/>在线咨询</a>
            <p>全国服务热线：400-696-1899</p>
            <p>销售热线：021-58386699</p>
        </div>
        <div class=" f_col_1 f_col   ">
            <h3><a href="#">产品链接</a></h3>
            <ul>
                <li><a href="#">破碎设备</a></li>
                <li><a href="#">磨粉设备</a></li>
                <li><a href="#">大型成套设备</a></li>
                <li><a href="#">辅助设备</a></li>
            </ul>
        </div>
        <div class=" f_col_2 f_col ">
            <h3><a href="#">新闻资讯</a></h3>
            <ul>
                <li><a href="#">公司新闻</a></li>
                <li><a href="#">行业动态</a></li>
            </ul>
        </div>
        <div class=" f_col_3 f_col ">
            <h3><a href="#">客户案例</a></h3>
            <ul>
                <li><a href="#">砂石骨料</a></li>
                <li><a href="#">工业磨粉</a></li>
                <li><a href="#">矿山处理</a></li>
                <li><a href="#">绿色建材</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="f_bottom">
            <p><span class="pull_left">沪ICP备06053530号-1© 世邦工业科技集团股份有限公司 版权所有</span><a href="#">网站地图</a> | <a href="#">法律声明</a>
                | <a href="#">联系我们</a></p>
        </div>
    </div>
</div>